<%- model_class = DenyDate -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:date) %></th>
    </tr>
  </thead>
  <tbody>
    <% deny_dates.each do |deny_date| %>
      <tr>
        <td><%= deny_date.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
