<div class="control-group">
  <%= f.label :date, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :date, :class => 'text_field', "data-provide" => "datepicker", "data-date-format" => "mm/dd" %>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= link_to_remove_association t("helpers.links.destroy"), f, class: "btn btn-primary" %>
    </div>
  </div>
</div>
