<html>



<body onload="start_func()">
    <div id="map_canvas" style="width:90%; height:90%">
         位置情報を取得しています....
    </div>
    <div id="area_name"></div>
    <div id="map" style="width:500px; height:500px; border:1px solid #FF0000"></div>

  <div id="lat">x = </div>
  <div id="lng">Y = </div>
  <p> TEST </p>

</body>


</html>
